@import '../scss/colors.scss';
@import '../scss/font.scss';

#stack {
    background-color: $verde-claro;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.stack {
    margin-top: 5vw;
    margin-bottom: 10vw;

    .stack__header {
        margin-bottom: 2vw;
        padding: 1vw;
        background-color: $laranja-claro;
        border-radius: 12px;

        .stack__header__text {
            font-size: 16px;
            color: $branco;
            font-weight: 600;
            margin-bottom: 1vw;
        }
    }

    .stack__group {
        margin-bottom: 2vw;
        padding: 0.5vw;
        background-color: $verde-medio;
        border-radius: 12px;

        .stack__group__title {
            font-size: 20px;
            font-weight: 600;
            color: $branco;
            margin-bottom: 2vw;
            text-align: center;
            margin-top: 2vw;
        }
    
        .stack__group__img {
            display: block;
            width: 50%;
            margin-bottom: 0.5vw;
            margin-left: auto;
            margin-right: auto;
        }
        
        .stack__group__name {
            font-size: 14px;
            color: $verde-claro;
            margin-bottom: 2vw;
            text-align: center;
        }

    }
}

.container-fluid {
    padding: 0 !important;
}

@media only screen and (max-width: 767px) {

    #stack {
        height: unset;
        overflow: hidden;
    }

    .stack {
        padding-left: 10vw;
        padding-right: 10vw;
        margin-bottom: 20vw;
        margin-top: 20vw;

        .stack__header {
            padding: 4vw;
            margin-bottom: 8vw;

            .stack__header__text {
                margin-bottom: 6vw;
            }
        }

        .stack__group {
            padding: 4vw;
            margin-bottom: 8vw;

            .stack__group__title {
                font-size: 30px;
                margin-bottom: 14vw;
                margin-top: 10vw;
            }
    
            .stack__group__img {
                width: 30%;
            }
    
            .stack__group__name {
                font-size: 20px;
                margin-bottom: 10vw;
            }
        }
    }

}